
body {
    background-color: #38533C;
    text-align: center;
    margin: auto;
}

header {
    padding: 1% 0% 1% 1%;
    background-color: #E4D1A7;
}

.logo {
    height: auto;
    max-width: 200px;
    margin-left: 10px;
}

nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn {
    font-family: 'Inika', serif;
    background: none;
    border: none;
    font-size: 15px;
    color: #38533C;
    font-weight:bolder;
}

.nav-btn:hover {
    color: #182019;
}

.btn-container {
    width:40vw;
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
}

#content {
    background-color: #FDF0D3;
    font-family: 'Inika', serif;
} 

.hero {
    height: 30%;
    padding-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0% 2% 2%;
}

.hero-image {
    width: 65%; 
}

.info {
    border-top: 2px dotted #38533C;
    border-bottom: 2px dotted #38533C;
    margin: 3% 10% 2% 10%;
    display: flex;
    justify-content: center;
    gap: 8%;
}

.info>* {
    text-align: center;
}

.about-sec {
    display: flex;
    padding-right: 30px;
    align-items: flex-start;
    margin-top: 0;
}

.about-header {
    font-size: 30px;
    width: 20vw;
    margin-left: 8%;
    color: #38533C; 
    letter-spacing: 0.2em; 
    text-transform: uppercase; 
    margin-top: 19px;
}

.about-main-h {
    font-size: 5vw; 
    text-align: center; 
    color: #38533C; 
    margin: 1vh 0; 
    letter-spacing: 0.1em;
}

.about-content {
    width: 80vw; /* Responsive width */
    text-align: left; /* Left aligned text */
    line-height: 1.6; /* Increased line height for readability */
    font-size: 1.2em; /* Slightly larger font size */
    color: #333; /* Dark gray color for text */
}

.cafe-menu-container {
    background-color: #FDF0D3;
}

.cafe-menu-img {
    margin-top: 5%;
    width: 50%;
    margin-bottom: 5%;
}

.button-reservation {
    border-radius: 10px;
    font-family: 'Inika', serif;
    font-size: 25px;
    background-color: #a0522d; /* Darker shade for the button */
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 30px;
}

.button-reservation:hover {
    background-color: #8b4513; /* Slightly darker on hover */
}

.wine-menu-container {
    background-color: #FDF0D3;
}

.wine-menu-img {
    margin-top: 5%;
    width: 50%;
    margin-bottom: 5%;
}


